/* EditarAlumno.css */

/* Contenedor principal */
.editar-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Formularios y inputs */
.alumno-form input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.alumno-form input:focus {
  border-color: #935a99;
  box-shadow: 0 0 5px rgba(147, 90, 153, 0.3);
}

/* Botones */

.btn-guardar {
  background-color: #935a99;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-guardar:hover {
  background-color: #7b477d;
}

.btn-cancelar {
  background-color: #fff;
  color: #935a99;
  border: 1px solid #935a99;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancelar:hover {
  background-color: #f7eafc;
}

/* Mensaje de error */
.error-message {
  color: #d9534f;
  font-size: 13px;
  margin-top: 5px;
  text-align: left;
}
