

.top{
    text-align: justify;
    padding: 20px;
    margin: 20px;
    
}

.top h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.top p{
    color: #555;
    font-size: 1.1rem;
}

.cards-container{
    display: flex;
   justify-content: center;
    gap: 50px;
    padding: 0 30px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card{
background-color: #fff;
width: 390px;
height: 290px;
text-align: center;
border-radius: 20px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.card-icon{
    width: 50px;
    height: 50px;
    margin: 50px 0 0 0;
    opacity: 60%;
 
}

.card-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: flex;
  margin-top: 20px;
  gap: 10px;
}

.btn{
     color: #555;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    gap: 5px;
    transition: all 0.3s ease;

}


.btn-filled{
border: 3px solid #08936e;
background-color: #08936e;
  color: white; 
}

.btn-filled:hover {
  background-color: rgb(73, 70, 70);
}

.btn-outlined{
    border: 3px solid #08936e;
    background-color: transparent;
}

.btn-outlined:hover {
  background-color: #009970;
  color: white;
}


.btn-icon{
   width: 16px;
   height: 16px;
   object-fit: contain;
   display: inline-block;
   opacity: 60%;

}

.card h2{
    color: #555;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
}

.card p{
  margin: 25px;
    text-align: center;
    color: #555;
    opacity: 80%;
}

.card-alumnos {
  background-color: #e5f5ff;
}

.card-cursos {
  background-color: #e3f8ef;
}

.card-inscripciones {
  background-color: #efe9fb;
}